
@font-face {
    font-family: 'PartyConfetti';
    src: url(C:\Users\jasmi\Omatprojektit\Nook\nook\public\fonts\PartyConfetti.ttf);
}
@font-face {
    font-family: 'HeyComic';
    src: url(C:\Users\jasmi\Omatprojektit\Nook\nook\public\fonts\HeyComic.ttf);
}
@font-face {
    font-family: 'CorneroftheSky';
    src: url(C:\Users\jasmi\Omatprojektit\Nook\nook\public\fonts\CorneroftheSky.ttf);
}

body {
    background-color: #966a51;
    /* Aseta taustaväriksi haluamasi ruskea sävy */
}


.frontpage {
    display: grid;
    
    /* Kahdelle sarakkeelle */
    grid-gap: 20px;
    /* Väli kahden laatikon välillä */
    color: black;
    background-size: cover;
    background-position: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.frontpage-container {
    grid-column: 1/4;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    background-color: #fce0d2;
    /* Ruskea taustaväri */
    padding: 20px;
    /* Sisäinen täyttö */
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    /* Tekstin keskitys */
    border-radius: 20px;
    z-index: 0;
    overflow: hidden;
    /* Piilota kaikki sisältö, joka ylittää frontpage-containerin rajat */
}



.text1 {
    grid-column: 2/3; /* Määritä text1-divi sarakkeet 2 ja 3 välille */
    grid-row: 2/3; /* Määritä text1-divi rivit 2 ja 3 välille */
    margin-top: 80px;
    margin-bottom: 0;
    display: grid;
    grid-row: auto auto auto auto;
    z-index: 0;
    justify-self: center; /* Keskittää text1-divin vaakasuunnassa */
}

h1{
    grid-row: 1;
    font-family: 'PartyConfetti', sans-serif;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: #402a1c;
    padding: 0;
    margin: 0;
}
h2{
    grid-row: 2;
    font-family: 'CorneroftheSky',serif;
    font-size:medium;
    color: #63412c;
    padding-bottom: 100px;
}


.button-container {
    grid-row: 3;
    grid-column: 1/2;
    max-height: 45px;
    display: grid;
    grid-template-columns: auto auto;
    /* Aseta elementit riviin */
    gap: 40px;
    /* Lisää väliä napin väliin */
    position: relative; /* Aseta position suhteelliseksi */
    margin-bottom: 100px;
    font-family: 'CorneroftheSky';
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #422800;
    cursor: pointer;
    display: flex;
    font-family: 'PartyConfetti',sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {

    .button-56,
    .button-74 {
        padding: 0 40px;
    }
}

#btn2 {
    background-color: #966a51;
    color: #fbeee0;
    font-family: 'CorneroftheSky', sans-serif;
}
#btn1 {
    background-color: #fce0d2;
    color: #402a1c;
    font-family: 'CorneroftheSky', sans-serif;
}
/* CSS */
/* CSS */



.navbar {
    background-color: #ffdeda;
    /* Taustaväri */
    overflow: hidden;
    /* Estää elementin lapsien kohdistuvan siihen ulkopuolelta */
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar a {
    display: inline-block;
    /* Asettaa linkit vierekkäin */
    color: #422800;
    /* Tekstin väri */
    text-align: center;
    /* Tekstin keskitys */
    padding: 14px 16px;
    /* Lisää tilaa ylä- ja alareunaan sekä vasemmalle ja oikealle */
    text-decoration: none;
    /* Poistaa alleviivauksen */
}

/* Vaihtaa linkin värin, kun sitä hoveroidaan */
.navbar a:hover {
    background-color: #966a51;
    /* Taustavärin vaihto */
    color: black;
    /* Tekstin värin vaihto */
}

.nav-elements {
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    max-height: 55px;


}

.nav-elements ul {

    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 30px;
}



.nav-elements ul a {
    font-size: 16px;
    font-weight: 550;
    color: #422800;
    text-decoration: none;

}

.nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
    z-index: -1;
}

.navbar a:hover {
    background-color: #966a51;
    /* Taustavärin vaihto */
    color: black;
    /* Tekstin värin vaihto */
}

.button-74 {
    height: 34px;
    width: 35px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 100;
    font-size: 18px;
    padding: 0 18px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-74:hover {
    background-color: #966a51;
    color: #fbeee0;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}



.clouds {
    grid-column: 2/3; /* Määritä clouds-divi sarakkeet 2 ja 3 välille */
    grid-row: 3/4; /* Määritä clouds-divi rivit 3 ja 4 välille */
    margin-top: 150px; /* Aseta marginaali pilvien sijoittamiseksi napin yläpuolelle */
    position: absolute;
    z-index: -2;
    display: grid;
    grid-column: auto auto;
    justify-self: center; /* Keskittää clouds-divin vaakasuunnassa */
}
.cloud {
    grid-column: 1;
    max-width: 400;
    max-height: 250px;
    position: relative;
    transform: scaleX(-1) rotate(-15deg);
    animation: moveCloudLeft 10s linear infinite; /* Lisätään animaatio pilvelle */
}

.cloud2 {
    grid-column: 2;
    max-width: 400px;
    max-height: 250px;
    position: relative;
    transform: scaleX(-1) rotate(15deg);
    animation: moveCloudRight 10s linear infinite; /* Lisätään animaatio pilvelle */
}

@keyframes moveCloudLeft {
    0% {
        transform: scaleX(-1) rotate(-15deg) translateX(0); /* Alkuperäinen sijainti */
    }
    50% {
        transform: scaleX(-1) rotate(-15deg) translateX(80px); /* Liikuta vasemmalle */
    }
    100% {
        transform: scaleX(-1) rotate(-15deg) translateX(0); /* Palaa alkuperäiseen sijaintiin */
    }
}

@keyframes moveCloudRight {
    0% {
        transform: scaleX(-1) rotate(15deg) translateX(0); /* Alkuperäinen sijainti */
    }
    50% {
        transform: scaleX(-1) rotate(15deg) translateX(-80px); /* Liikuta oikealle */
    }
    100% {
        transform: scaleX(-1) rotate(15deg) translateX(0); /* Palaa alkuperäiseen sijaintiin */
    }
}


 




@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

@media (max-width: 767px) {
    .frontpage {
        width: 50%;
        height: 100%;
    }

    .frontpage-container {
        width: 68%;
        height: 155%;
        padding: 0;
        margin: 50px;
        overflow: visible;
    
        

    }

   
    .nav-elements ul{
       margin-right: 15%;
       padding-top: 30px;
       max-width:380px;
      
    }
   

    .button-74{
        line-height: 30px;
        width: 50px;
        padding-right: 10px;
       
    }
   
    .nav-elements a {
        
        padding: 0px 15px; /* Muuta sisäistä tilaa */
    }
    

}



*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.containerEnvelope {
grid-row: 3;
grid-column: 3;
margin-left: 50px;
margin-bottom: 200px;
  width: 100%;
  height: 60px;
  font-size: 2em;
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0);
}


.text {
  position: relative;
  top: 10px;
  margin-bottom: 40px;
  opacity: 0;
  font-size: 0.5em;
  font-family: PartyConfetti;
  transition: all 0.3s ease-in-out;
  color: white;
}

.envelope:hover .text {
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.envelope {
  display: inline-block;
  width: 200px; /* Puolitettu leveys */
  height: 100px; /* Puolitettu korkeus */
  background: #966a51;
  border: #111;
  position: relative;
  opacity: 1;
  margin-bottom: 20px; /* Puolitettu välimarginaali */
  transform: scale(0.8);
  box-shadow: #111 10px 10px 0 0;
  transition: all 0.3s;
  border-radius: 5px; /* Lisää pyöristys kulmiin */
  border: 2px solid #111;

}

.envelope:hover {
  box-shadow: 0 0 1px 0px #000, inset 0px 15px 20px 0px rgba(0, 0, 0, 0.1); /* Pienemmät varjot */
  transform: scale(1);
  transition: all 0.3s;
}

.envelope:active {
  transform: scale(0.97);
  background: #ffe0a8;
}

.envelope:before,
.envelope:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 40px solid transparent; /* Puolitettu leveys */
  position: absolute;
}

.envelope:before {
  border-top: 60px solid #422800; /* Puolitettu korkeus */
  border-right: 100px solid transparent; /* Puolitettu leveys */
  border-left: 100px solid transparent; /* Puolitettu leveys */
  border-radius: 5px;
  top: 2px;
  left: -0px;
  opacity: 0.4;
  z-index: 2;
  transition: all 0.3s ease;
}

.envelope:hover:before {
  border-top: 60px solid #402a1c; /* Puolitettu korkeus */
  border-right: 100px solid transparent; /* Puolitettu leveys */
  border-left: 100px solid transparent; /* Puolitettu leveys */
  opacity: 1;
  top: -60px; /* Puolitettu korkeus */
  left: -0px;
  opacity: 1;
  z-index: 2;
  transform: scaleY(-1);
  transition: all 0.3s, transform 0.3s;
  transform-origin: 0;
  border-radius: 5px;
}

.envelope:active:before {
  top: -0px;
  transform: scaleY(1);
  border-top: 60px solid lighten(#C69947, 20%); /* Puolitettu korkeus */
  transition: all 0.3s ease;
}

.envelope:after {
  border-bottom: 60px solid #402a1c; /* Puolitettu korkeus */
  border-right: 100px solid transparent; /* Puolitettu leveys */
  border-left: 100px solid transparent; /* Puolitettu leveys */
  bottom: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.12;
}
