/* GridContainer.css */
.grid-background {
    display: grid;
    gap: 20px;
    background-image: url("C:\Users\jasmi\Omatprojektit\Nook\nook\public\kuvat\login.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: white;
  }
  
.grid-container {
    display: grid;
    
    width: 100vw;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
   
  }
  
 
  
  .logo {
    max-width: 350px;
    max-height: 250px; /* Pienennetty korkeutta */
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    margin-top: 190px; /* Säädä etäisyyttä ylhäältä */
    margin-left: 7px;
    padding-bottom: 5px; /* Pienennetty alapuolista tyhjää tilaa */
  }
  
  .username {
    text-align: center;
    grid-row: 2;
    grid-column: 2;
    height: 10px;
    margin-top: 2px;
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
    font-size: 16px; /* Pienennetty fonttikokoa */
    border-radius: 20px;
  }
  
  .password {
    text-align: center;
    grid-row: 3;
    grid-column: 2;
    height: 50px; /* Pienennetty korkeutta */
    margin-top: 10px;
    margin-bottom: 20px; /* Pienennetty väliä seuraavaan elementtiin */
    justify-self: center;
    align-self: center;
    font-size: 16px; /* Pienennetty fonttikokoa */
  }
  .login{
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
  }
  
  .loginnappi {
    grid-column: 2;
    grid-row: 5;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 15px; /* Pienennetty korkeutta */
    justify-self: center;
    align-self: center;
  
    background-image: url('C:\\Users\\jasmi\\Omatprojektit\\Nooks\\nooks-react-app\\public\\kuvat\\loginnappi.jpg');
    background-size: cover;
    background-position: center;
    border: transparent;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border-color: transparent;
    text-align: center;
  }
  
  input:focus {
    outline: none;
    border: 2px solid #865525;
    box-shadow: 0 0 10px rgba(75, 50, 31, 0.5);
  }
  .transitio {
    margin-left: 40%;
   
    top: 0;
    left: 0;
    max-width: 80%;
  
    justify-content: right;
    z-index: 999; /* Aseta korkeampi z-indeksi kuin muille elementeille */
  }
  
  